## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
import pandas as pd  # Import the neccesarry libraries to work with and manipulate the data
import numpy as np
import seaborn as sns

In [2]:
pd.set_option('display.float_format', lambda x: '%.1f' % x) # to avoid viewing scientific notation

In [3]:
# Read the Box Office Mojo Gross income csv file in pandas dataframe 
bom_gross = pd.read_csv('zippeddata/bom.movie_gross.csv')

In [22]:
bom_gross.head()  # look at the first five entries

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [5]:
bom_gross.dtypes  # check the column types

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [37]:
bom_gross.shape  # check the dimensions of the DataFrame

(3387, 5)

In [23]:
bom_gross.isnull().sum()  # check how many values are null in each column

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [7]:
foreign_films = bom_gross[bom_gross.domestic_gross.isnull()]
foreign_films.head()  # check the null values in the domestic gross column in a seprate dataframe

,title,studio,domestic_gross,foreign_gross,year
230,It's a Wonderful Afterlife,UTV,nan,1300000,2010
298,Celine: Through the Eyes of the World,Sony,nan,119000,2010
302,White Lion,Scre.,nan,99600,2010
306,Badmaash Company,Yash,nan,64400,2010
327,Aashayein (Wishes),Relbig.,nan,3800,2010

Through some inspection of the titles in this dataframe, we can tell that most of these films are foreign, which is why their domestic (North American) gross is not available. We can infer that in most of these cases the films were not released in the North American Market.

In [11]:
no_foreign = bom_gross[bom_gross.foreign_gross.isnull()]  # Let's check the entries with no foreign gross
no_foreign.head(15)

,title,studio,domestic_gross,foreign_gross,year
222,Flipped,WB,1800000.0,NaN,2010
254,The Polar Express (IMAX re-issue 2010),WB,673000.0,NaN,2010
267,Tiny Furniture,IFC,392000.0,NaN,2010
269,Grease (Sing-a-Long re-issue),Par.,366000.0,NaN,2010
280,Last Train Home,Zeit.,288000.0,NaN,2010
287,Sweetgrass,CGld,207000.0,NaN,2010
291,Casino Jack and the United States of Money,Magn.,177000.0,NaN,2010
308,Alamar,FM,61600.0,NaN,2010
311,Hatchet 2,Vita.,52600.0,NaN,2010
319,Living in Emergency,Truly,32200.0,NaN,2010
323,The Taqwacores,Strand,11400.0,NaN,2010
324,Cherry,Abr.,11400.0,NaN,2010
325,Terkel in Trouble,Indic.,10800.0,NaN,2010
326,Kimjongilia,Lorb.,4400.0,NaN,2010
458,Courageous,TriS,34500000.0,NaN,2011

After inspecting these titles, we can see that a lot of these are obscure and most likely low budget indpedent films. These titles in most cases did not have a worldwide release. In other cases, it is likely that getting foreign gross is stil not so convenient due lack a common information hub.

In [12]:
bom_gross['foreign_gross'] = bom_gross.foreign_gross.str.strip()

# Foreign gross is an object type so lets strip it of any whitespaces.

In [13]:
bom_gross_copy = bom_gross.copy() # Let's make a copy of the dataframe in case we make significant changes.

In [14]:
bom_gross_copy['foreign_gross'].fillna(value = 0, inplace = True)
bom_gross_copy['domestic_gross'].fillna(value = 0, inplace = True)

# because in most cases these columns have empty values due to lack of release we can exchange them 0

In [16]:
bom_gross_copy.foreign_gross = bom_gross_copy.foreign_gross.str.replace(',','')

# there are more string values that need to omitted in order to change column to float type

In [18]:
bom_gross_copy.foreign_gross = bom_gross_copy.foreign_gross.astype(float)  # convert column to float type

In [20]:
bom_gross_copy['worldwide_gross'] = bom_gross_copy['domestic_gross'] + bom_gross_copy['foreign_gross']
# make a new column of the worldwide income by adding the domestic and foreign gross

In [24]:
bom_gross_copy.head()  # inspect the first few elements to confirm changes

,title,studio,domestic_gross,foreign_gross,year,worldwide_gross
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1067000000.0
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1025500000.0
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,960300000.0
3,Inception,WB,292600000.0,535700000.0,2010,828300000.0
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,752600000.0

In [26]:
bom_gross_copy.dtypes # check the column types

title               object
studio              object
domestic_gross     float64
foreign_gross      float64
year                 int64
worldwide_gross    float64
dtype: object